body{
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
padding-top:60px;
}

a{
display:block;
margin:20px auto;
padding:15px;
width:250px;
background:#06b6d4;
color:white;
text-decoration:none;
border-radius:10px;
}