<!DOCTYPE html>
<html>
<body>

<video id="cam" autoplay></video>
<img id="img" src="/uploads/{{file}}" style="position:absolute;width:200px;">

<button onclick="capture()">Capture</button>

<script>
navigator.mediaDevices.getUserMedia({video:true})
.then(s=>cam.srcObject=s);

function capture(){
let c=document.createElement("canvas");
let ctx=c.getContext("2d");

c.width=window.innerWidth;
c.height=window.innerHeight;

ctx.drawImage(cam,0,0,c.width,c.height);
ctx.drawImage(img,50,50,200,200);

let a=document.createElement("a");
a.download="capture.png";
a.href=c.toDataURL();
a.click();
}
</script>

</body>
</html>